/* Filter section */
.filters {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters label {
  display: inline-block; /* Display labels inline */
  margin-right: 10px; /* Add spacing between labels */
}

.filters input,
.filters select {
  width: 100px; /* Set width for input and select */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px; /* Add spacing between inputs and selects */
}

.filters button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #45a049;
}
/* Property cards */
/* Apartment.css */

/* Filter section */
.filters {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filters label {
  display: block;
  margin-bottom: 10px;
}

.filters input,
.filters select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.filters button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filters button:hover {
  background-color: #45a049;
}

/* Property cards */
.property-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px; /* Add margin at the top of the property list */
}

.property-card {
  border: 2px solid #ccc;
  border-radius: 12px; /* Increased border-radius for a curvier look */
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin at the bottom of each card */
  transition: transform 0.3s; /* Add transition for smooth hover effect */
}

.property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.property-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.property-card button:hover {
  background-color: #45a049;
}

.property-card a {
  display: block;
  background-color: #008CBA;
  color: white;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
}

.property-card a:hover {
  background-color: #005f79;
}

/* Hover effect */
.property-card:hover {
  transform: translateY(-5px); /* Move the card up by 5px on hover */
}
