/* Like.css */

.liked-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .liked-item img {
    width: 100px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .liked-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  