/* Like.css */

.liked-item {
    display: flex;
    justify-content: center;
    
    margin-bottom: 20px;
  }
  /* .liked-list{
    width:300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom:20px;
  } */
  
  .liked-item img {
    width: 300px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
  }
  
  .liked-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  