.SignupContainer{
   display: flex;
   justify-content: space-evenly;
}
.firstpart{
    margin-top: 40px;
    margin-left: 140px;
    width: 400px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 2px 1px rgb(101, 100, 100);
    border-radius: 10px;
}
#secondpartimage{
    width: 900px;
    margin-left: 180px;
    height: 100%;
}
#input{
   padding: 5px;
   width: 350px;
   border: none;
   /* border-radius: 5px; */
   margin-top: 3px;
   box-shadow: 0px 1px 0px 0px rgb(233, 224, 224);
}
.heading{
    text-align: center;
    font-size: 30px;
}
#submitbutton{
    margin-left: 140px;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0.5px 1px 1px rgb(201, 200, 200);
}
.domain{
    display: flex;
    justify-content: flex-start;
}
.clickhere{
    color: blue;
}
.account{
    margin-left: 45px;
}
.signup{
    background: url("/src/img.jpg") no-repeat ;
}